input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid gray;
  position: relative;
  border-radius: 50%;
}
input[type="radio"]:checked + label {
  background-color: rgb(241, 109, 55);
  border: rgb(241, 109, 55);
}
input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 2px;
  border: 2.3px solid #fff;
  left: 0;
  right: 0;
  top: -3px;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  border-top-color: transparent;
  border-left-color: transparent;
}
.radio-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.label-container {
  display: flex;
  align-items: start;
}
.radio-label {
  margin-left: 5px;
  font-size: 14px;
}
